# base stuff
.bash_history
.cagefs
.cargo
.cl.selector
.cpanel
.cphorde
etc
.htpasswds
.lastlogin
mail
public_ftp
public_html
.ssh
ssl
tmp
.wget-hsts
www
.spamassassin*
.softaculous
.sitepad
.npm
.rustup/*
.config/configstore
.config/nushell/history.txt
.npm_global
.python_history

# extras
index.nuon

# settings
!.rustup/settings.toml

# projects
dev
nodevenv
project-*
