.bash_history
.cagefs
.cargo
.cl.selector
.cpanel
.cphorde
dev
etc
.htpasswds
.lastlogin
mail
nodevenv
popo
public_ftp
public_html
.ssh
ssl
tmp
.wget-hsts
www
.spamassassin*
.softaculous
.sitepad
.npm
.rustup/*
!.rustup/settings.toml

.config/configstore
.config/nushell/history.txt
